#idPrincipal{
    text-align:center;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    height: 600px;
    width: 600px;
    background-color: #2b2b2b;
    margin: auto;
}

body {
    background-color: #1b1b1b;
}
h1, h3{
    width: auto !important;
    text-align: center;
    color:#999;
}
h2 {
    margin-bottom: 10px;
    text-align: center;
    color:#999;
}

#idCaixa{
    height: 520px;
    width: 550px;
    margin: auto;
    background-color: #1b1b1b;
    border-style: solid;
}

input {
    border-style: solid;
	width: 300px;
    padding: 10px;
    margin: 3px;
    outline-color: #200040;
    border-radius: 50px;
    font-size: 14px;
}

::placeholder{
    color:#999;
}

#idImg {
    padding-top: 15px;
    aspect-ratio: 3/2;
    object-fit: contain;
}

div {
    border-radius: 10%;
}

#idCalcular, #limpaForm {
    cursor: pointer;
    width: 100px;
    height: 25px;
    margin-right: 50px;
    margin-left: 50px;
}

#idCalcular:hover, #limpaForm:hover
{
  opacity: .55;
}